<?xml version="1.0"?>
<launch>

    <rosparam file="$(find inverted_pendulum_description)/launch/controller.yaml" command="load"/>

    <!-- controller manager -->
    <node name="controller_manager" pkg="controller_manager" type="controller_manager" output="screen"
          args="load
	 inverted_pendulum_controller/joint_state_controller
	 inverted_pendulum_controller/joint_1_position_controller
	 inverted_pendulum_controller/joint_2_position_controller
	 inverted_pendulum_controller/leg_balance_controllers
	 	"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false"
          output="screen">
        <remap from="/joint_states" to="/inverted_pendulum/joint_states"/>
    </node>

</launch>
